.iconBtn.btnUpload {
	height: 28px !important;
	width: 28px !important;
	position: absolute;
	right: 0;
	bottom: 3px;
	margin: 0;
	background: #333;
	border-radius: 0;
	opacity: 0.8;
	border-top-left-radius: 7px;
	font-size: 15px;
	padding-top:0;
}

.profilePic {
	text-align: center;
}
.profilePic .ui-input-text input {
	padding-top: 0px;
}
